<h1>Tasks from list: <%= @list.title%></h1>

<% if @tasks.any? %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Description</th>
        <th scope="col">Completed?</th>
        <th scope="col">Edit</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.description %>
          <td><%= check_box_tag "completed", task.id, task.completed, class: 'form-check-input', disabled: true %>
          <td><%= link_to "Edit", edit_list_task_path(@list, task), class: "btn btn-primary" %>
          <td><%= button_to "Destroy", list_task_path(@list, task), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>This list has no tasks.</p>
<% end %>

<div>
  <%= link_to "Add Task to List", new_list_task_path(@list), class: "btn btn-success" %> 
  <%= link_to "Rename", edit_list_path(@list), class: "btn btn-primary" %> 
  <%= link_to "Back to lists", lists_path, class: "btn btn-warning" %>
  <%= button_to "Destroy this list", @list, method: :delete, class: "btn btn-danger" %>
</div>
